# 	This file provides security to the server limiting access to the server

###	SERVER GLOBAL SETTINGS

AddLanguage 		pt .pt
AddLanguage 		pt .pt-PT

DefaultLanguage		pt-PT
AddDefaultCharset 	UTF-8
ServerSignature 	Off
Options				+FollowSymLinks +MultiViews -Indexes
RewriteEngine 		On
RewriteBase 		/

SetEnv TZ 			Europe/Lisbon

SetEnv SERVER_ADMIN	webmaster@PUT_HERE_YOUR_DOMAIN

# automatically correct simple spelling errors
<IfModule mod_speling.c>
	CheckSpelling On
</IfModule>

### SYSTEM ADMIN

#RewriteCond		%{REMOTE_ADDR} 	!^85\.240\.152\.155
#RewriteCond		%{REQUEST_URI} 	!/underMaintenance.html$ 	[NC]
#RewriteRule		.* 				/underMaintenance.html 		[R,L]

###	SECURITY: PROHIBIT DIRECT ACCESS

<FilesMatch "^\.ht">
	Order allow,deny
	Deny from all
</FilesMatch>

###	SECURITY: EXTRA

#	No Image HOT-Linking
RewriteCond 	%{HTTP_REFERER} 			!^$
RewriteCond 	%{HTTP_REFERER} 			!^http://(.*)\.blogger\.com 				[NC]
RewriteRule 	.*\.(gif|jpe?g|png|bmp)$	/home/media/pub.gif							[L,NC]

###	CACHE: prevent caching

<FilesMatch ".+">
	Header set Cache-Control "max-age=0, no-cache, no-store, private"
	Header set Pragma "no-cache"
	Header set Expires "0"
</FilesMatch>

###	PHP SETTINGS

#AddType 		x-httpd-php 	.php .php4 .php5

# Compress to save BandWidth
php_value zlib.output_compression 16386

###	URLs

ErrorDocument 	403 						/error/403.pt.html
ErrorDocument 	404 						/error/404.pt.html

#	force WWW
RewriteCond 	%{HTTP_HOST} 				^paginav\.(com|net)				[NC]
RewriteRule 	^(.*)$ 						http://www.paginav.%1/$1		[R=301,L,NC]

RewriteCond 	%{HTTP_HOST} 				^(help|ajuda|sos)\.	[NC]
RewriteRule 	^(.*)$ 						http://www.paginav.com/sos-paginav/$1 		[R=301,NC,L]

#
#	HOME
#

RewriteCond 	%{HTTP_HOST} 				^www\.paginav\.(com|net)		[NC]
RewriteCond  	%{DOCUMENT_ROOT}/home/$1	-d								[OR]
RewriteCond  	%{DOCUMENT_ROOT}/home/$1	-f
RewriteRule  	^(.*)$						/home/$1         				[L,NC]

RewriteRule  	^$							/home/index.php					[L,NC]

RewriteCond 	%{REQUEST_URI} 				^/pt-PT							[NC]
RewriteRule  	^							http://www.paginav.com			[R,L,NC]

#
#	APP
#

RewriteRule 	^membros/(.*)$				/$1									[R=301,L,NC]

RewriteRule		^(\(zero\))$      			$1/  								[R,NC,L]
RewriteRule		^([a-zA-Z0-9-]{5,30})$      $1/  								[R,NC,L]

RewriteRule		^(\(zero\))/([a-zA-Z-]{2,6})$      			$1/$2/  			[R,NC,L]
RewriteRule		^([a-zA-Z0-9-]{5,30})/([a-zA-Z-]{2,6})$		$1/$2/  			[R,NC,L]

RewriteCond 	%{REQUEST_URI} 				/(archive/|content\.[a-zA-Z-]{2,}\.xml|(intro|avatar)\.(gif|jpe?g|png|swf))	[NC]
RewriteCond 	%{REQUEST_FILENAME} 		!-f
RewriteCond 	%{REQUEST_FILENAME} 		!-d
RewriteRule  	^(.*)$						/data/static/$1         			[L,NC]

RewriteCond 	%{REQUEST_URI} 				!^/(home|webmaster|error|w3c)/		[NC]
RewriteCond 	%{REQUEST_URI} 				^/\(zero\)/							[OR,NC]
RewriteCond 	%{REQUEST_URI} 				^/([a-zA-Z0-9-]{5,30})/				[NC]
RewriteRule  	^							app/site/start.php					[L,NC]

#
# 	END OF FILE
#