<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?=$cf['acc']['lang'];?>" lang="<?=$cf['acc']['lang'];?>">
<head><?head();?></head>
<body <?onload();?>>
<div id="globar" class="clearfix"><?globar();?></div>
<div id="page" class="clearfix">
	<div id="main"><?main();?></div>
	<div id="support"><?support();?></div>
	<div id="footer" class="clearfix"><?footer();?></div>
</div>

<!-- START GOOGLE ANALYTICS -->
<!-- END GOOGLE ANALYTICS -->

</body>
</html>