/* 	RESET WHITE SPACE AND DEFAULT STYLES	*/
* 					{ margin: 0; padding: 0; }

/*	SET GLOBAL	*/	
html 					{ height: 100%; margin-bottom: .1em; }
body 				{ font: 80%/150% verdana, arial, sans-serif; }

/*	SET WIDTH	*/

#globar				{ min-width: 775px; }
#page				{ width: 775px; }
#main				{ width: 508px; float: left; }
#support 			{ width: 230px; float: right; }

#main,
#support .section 	{ overflow: hidden; }

#nav, #msgBox, h1, #toolbar, #support h2,
table					{ width: 100%; }

/* 	SET MARGIN	*/

h1, h2, h3, h4, h5, h6, p, br, hr, address, blockquote, pre, dt,
div, fieldset, table		{ margin: 15px 0 0 0; }
ul, ol				{ margin: 10px 30px 0; }
blockquote			{ margin: 15px 30px 0; }
li					{ margin-top: 5px; }
li, dd				{ margin-left: 15px; }
fieldset li				{ margin-left: 0; }
.section li			{ margin-top: 0; }

#page				{ position: relative; top: 5em; margin: 0 auto; }
* html #page			{ top: 1em; }

#globar, #globar *, #toolbar *, #navigator *, #support, #footer,
#footer *			{ margin: 0; }

#globar				{ margin-bottom: 15px; }

#header, #main, #toolbar, #intro, #section, #navigator,
#support .section	{ margin-top: 0; margin-bottom: 5px; }

h1, #support h2		{ margin: 0 -15px; }
#msgBox				{ margin: -15px -15px 0; }

/* 	SET PADDING 	*/

h1					{ padding: 10px 15px; }
fieldset				{ padding: 0 15px 15px; }
legend				{ padding: 0 15px; }
button, input, textarea	{ padding: 2px }
th, td				{ padding: 2px 10px; }

#main, #intro, #section, 
#support .section 	{ padding: 0 15px 15px; }
#globar				{ padding: 5px 15px; }
#nav li, #toolbar, #navigator, h1, #support h2,
#footer				{ padding: 10px 15px; }

#msgBox				{ padding: 20px 15px; }

/*	SET GLOBAL ID STYLES 	*/

h1, h2				{ font-size: 120%; }
h3, h4, h5, h6		{ font-size: 100%; }
ul li					{ list-style: square; }
dt, legend			{ font-weight: bold; }
fieldset, select			{ border: 1px solid; }
input, textarea, button	{ border: 1px outset; vertical-align: middle; }
input[type="radio"]	{ border: none; }
button				{ text-align: center; cursor: pointer; }
table					{ table-layout: fixed; border-collapse: collapse; }
th, td				{ border: 1px solid; }
a					{ text-decoration: none; }
a:hover				{ text-decoration: underline; }

#globar *, #toolbar *, 
#footer *			{ display: inline; }

#header, #main, #intro, #section, #support .section,
#footer				{ border: 1px solid; }

/*	SET GLOBAL CLASS STYLES 	*/

.action				{ vertical-align: middle; }
.alert				{ background-color: #ffd; border-bottom: 1px solid silver; margin: 0 -15px; padding: 15px; }

/* 	GLOBAR 	*/

#globar				{ z-index: 9999; position: fixed; top: 0; left: 0; clear: both; width: 100%; min-width: 780px; clear: both; margin: 0; padding: 10px 0; font-variant: small-caps; }
#globar				{ background-color: #000 !important; border-bottom: 2px solid #333 !important; color: #fff !important; }
#globar a, 
#globar sup			{ color: #ff0 !important; }
#globar *			{ display: inline; border: none; margin: 0; padding: 0; }
#globar li			{ margin: 0 5px; vertical-align: middle; }
#globar .left		{ float: left; margin: 0 10px; }
#globar .logo,
#globar .login		{ font-weight: bold; }
#globar .right		{ float: right; margin: 0 10px; }
#globar .right input	{ vertical-align: middle; }

#globar 				{ background-color: #000; color: #fff; }
#globar .links a		{ color: #ff0; }
#globar .login		{ font-weight: bold; }

/*	HEADER	*/

#header				{ display: none; }

/*	MAIN CONTENT		*/

#main				{ }

#nav				{ border: none; margin: 3px -15px -2px; padding: 10px 5px; }
#nav *				{ display: inline; margin: 0; padding: 0; }
#nav .start			{ }
#nav li				{ margin-right: 5px; }
#nav li *				{ font-weight: bold; font-variant: small-caps; }

#msgBox				{ border-bottom: 1px solid; }

#main h2				{ margin-top: 30px; padding-bottom: 5px; }

#toolbar			{ border-bottom: 1px solid; margin: 0 -15px 15px; clear: both; }
#toolbar img			{ border: 1px solid; height: 16px; padding: 1px; }
#toolbar .lang		{ float: right; }
#toolbar .lang img	{ margin-left: 5px; height: 17px; }
#toolbar .tools		{ float: left; }
#toolbar .tools img	{ margin-right: 5px; padding: 2px 5px; }

#navigator			{ border: 1px solid; clear: both; font-weight: bold; }
#navigator *			{ text-decoration: none; }
#previousPage		{ float: left; }
#nextPage			{ float: right; }

/*	SUPPORT CONTENT 	*/

#support .section	{ width: 200px; }
#support input, 
#support textarea		{ width: 95%; }

#chgSrvForm			{ border: 1px solid; margin-bottom: 0; padding: 7px 0; }
html>body #chgSrvForm	{ padding: 8px 0; }
#chgSrvForm *		{ margin: 0; padding: 0; }
#chgSrvForm p		{ margin: 1px 0; padding: 0 15px; }
#chgSrvForm select	{ border: 1px outset; width: 100%; padding: 1px; }

#menu *				{ text-decoration: none; }
#menu ul				{ margin: 0 -15px -15px; padding: 0; }
#menu ul li			{ border-bottom: 1px solid; margin: 0; padding: 5px 15px; list-style: none; }
#menu .level1		{ }
#menu .level3		{ font-size: 85%; }

#contactForm fieldset	{ border: none; margin: 0; padding: 0; }

#stats ul			{ margin-left: 0; margin-right: 0; }

/* 	FOOTER	*/

#footer				{ clear: both; font-size: 85%; }
#footer .copyright	{ float: left; }
#footer .gotop		{ float: right; }

/*	SPECIFIC PAGE FUNTIONS	*/

#menuEdit label		{ display: block; margin: 5px 0 0; font-weight: bold; }
#menuEdit input,
#menuEdit textarea		{ width: 98%; margin-top: 5px; }
#menuEdit .short		{ width: 50%; }
#menuEdit small		{ font-weight: normal; }
#menuEdit .countChars	{ text-align: right; }

#menuCustom .action	{ text-align: center; }

#formCustomLayout ul		{ width: 100%; margin: 15px 0 0; text-align: center; }
#formCustomLayout li		{ display: inline; padding: 0 50px; }
#formCustomStyle ul		{ width: 100%; margin: 15px 0; text-align: center; }
#formCustomStyle li		{ border: 1px outset; display: inline; margin: 0 2px; padding: 5px; vertical-align: middle; }

#formCustomAvatar img	{ border: 1px solid; width: 50%; padding: 1px; }

#cssUpload,
#avatarUpload		{ width: 85%; }

#menuSetup legend		{ background-color: #fff; font-weight: bold; }
#menuSetup label		{ margin: 0; }
#menuSetup input		{ margin: 0; }
#menuSetup .legend	{ color: #999; margin-top: 0; margin-left: 25px; font-size: 85%; }
#menuSetupSettings label	{ color: gray; margin-top: 0; font-size: 85%; }
#accEmail			{ width: 98%; }

#formExtendIntro small	{ color: #f00; }

#modContactFormEmail{ width: 300px; }

/*	HOME PAGE	*/

#introBase sup		{ color: #f00; }
#introBase .footnote	{ font-style: italic; font-size: 85%; }
#introBase .alpha	{ background-color: #fee; border: 1px solid; padding: 10px; }
#introBase .tisep	{ line-height: 150%; text-align: center; font-size: 150%; font-variant: small-caps; }

.listCards ul		{ margin: 10px 0 0; }
.listCards li			{ margin: 0; display: inline; }
.listCards img		{ width: 160px; }

#getAccount ul				{ margin: 0; padding: 0; }
#getAccount label				{ font-weight: bold; }
#getAccount label small			{ font-weight: normal; }
#getAccount .footnote,
#getAccount .getAccAgree		{ font-size: 75%; }

/*	CLASSES	*/

.destak				{ background-color: #ff6; border-top: 5px solid #39f; padding: 10px; }
.destak h2			{ margin:0 }

.alert				{ font-size: 85%; }
.footer				{ color: #666; font-size: 85%; }

/*	SET COLORS	*/

body					{ background-color: #ddd; color: #333; }

#nav li				{ background-color: silver; }
#nav li *				{ color: #fff; }
#nav li:hover			{ background-color: gray; }
#nav li a:hover		{ color: #ff0; }
#nav .active:hover, 
#nav .active			{ background-color: #a00; }

#msgBox				{ background-color: #ffc; border-color: silver; }

h1, #support h2		{ background-color: #a00; border-color: #a00; color: #fff; }
#main h2				{ border-color: #a00; color: #a00; }

#menuEdit small		{ color: #55f; }
fieldset				{ border-color: #bbf; }
legend				{ background-color: #fff; color: #55f; }
input, textarea, button	{ border-color: gray; }

a:hover, .alert,
.pub				{ color: #f00; }

#navigator, 
#footer 				{ background-color: silver; }
#toolbar 			{ background-color: #ddd; }

#main, #toolbar, #support .section, #navigator, #chgSrvForm, #chgSrvForm select,
#footer				{ border-color: silver; }

#chgSrvForm			{ background-color: black; border-color: black; }

#main td				{ border-color: black; }

#header, #main, #toolbar img, 
#support .section	{ background-color: white; }

#loginForm input, #getAccount input, #contactForm input, #loginForm textarea,
#contactForm textarea	{ background-color: #eee; border-color: #ddd; }

#contactsTitle		{ background-color: #eee; }

#getAccount			{ background-color: #555 !important; border-color: #000 !important; color: #fff !important; }
#getAccount h2		{ background-color: #000; border-bottom: 1px solid gray; color: #ff0; }
#getAccount label		{ color: #ff0; }
#getAccount input		{ background-color: #fff; border: 1px solid #333 !important; }

#searchBaseLocal form	{ padding-top: 15px; }
#searchBaseLocal input{ width: auto; }

/* 	HACKS 	*/

.clearfix:after 		{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix 			{ display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix		{ height: 1%; }
.clearfix 			{ display: block; }
/* End hide from IE-mac */