#menuPages *		{ font-size: 10px; }

.submitmenu 		{ 
	background: url(image/savebutton.png); border: 1px solid #666666; color: #000000;
	position: relative; 
	width: 90px; margin-bottom: 10px; padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
}

.hiddenArea 		{ display: none; }
.menu_edit		{ background-image: url(image/menu_edit_background.gif); }

.headerstyle1, .headerstyle2, .headerstyle3,
.headerstyleDel	{ position: relative; left: 0; top: 0; float: left; width: 90px; padding: 10px 0 10px 5px; border-bottom: 1px solid #666; font-weight: bold; }

.headerstyle1 	{ background: url(image/ebene1hs.png); }
.headerstyle2 	{ background: url(image/ebene2hs.png); }
.headerstyle3 	{ background: url(image/ebene3hs.png); }
.headerstyleDel 	{ background: #e55 url(image/deletehs.png); color: #fff; width: 200px; }	

.groupstyle1 	{ background-image: url(image/menu_edit_background.gif); position: relative; left: 0; }

.liststyle1, .liststyle2, .liststyle3, .liststyleNew,
.liststyleDelete{ overflow: auto; border: 1px solid #666; width: 170px; padding: 3px; text-indent: 20px; white-space: nowrap; }

.liststyle1		{
	background: url(image/ebene1.png) no-repeat;
	position: relative; left: 0; z-index: 1000;
}
.liststyle2 		{
	background: url(image/ebene2.png) no-repeat;
	position: relative; left: 95px; z-index: 1000;
}
.liststyle3 		{
	background: url(image/ebene3.png) no-repeat;
	position: relative; left: 190px; z-index: 1000;
}
.liststyleDelete{
	background: #e55 url(image/delstyle.png); color: #fff;
	position: relative; left: 350px; top: 50px;
}
.liststyleNew 	{
  	background: #eee url(image/newpage.png); border: 1px outset;
   	position: relative; left: 0;
	padding: 10px 5px;
	font-weight: bold;
}

#popwarn 		{
	background-image: url(image/stoppuhr.png); background-color: #f00; border: 1px solid #000; color: #fff;
	position: absolute; z-index: 9999; right: 10px; top: 10px;
	visibility: hidden;
	padding: 60px;
	font-size: 20px; font-weight: bold;
}

#fakeid 			{ visibility: hidden; }

.liststyle1ex 	{ color: #fff; }